<div class="container">
  <div class="row item justify-content-between">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <img src="../../assets/images/Profile.jpg" alt="Eng. Mohamed Elkhlawy" class="w-100 mt-3">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <h1 class="pt-2">Eng. Mohamed Elkhlawy</h1>
      <p>Software Engineer</p>
      <p>I'm a passionate software engineer with a strong background in programming languages such as C++, Java, and Python. I have experience in developing web applications using frameworks like Angular, and Node.js. I also have a deep understanding of data structures and algorithms, and I'm always looking for opportunities to apply my skills.</p>
      <p>In addition to my professional career, I'm also an avid reader and enjoy engaging in conversations with fellow developers. I believe that learning from others is the best way to improve and grow as a person.</p>
      <p>When I'm not working on a project, I enjoy spending time with my family and friends, cooking delicious meals, and exploring new places around the world.</p>
      <p>Looking forward to
      <h2>Education</h2>
      <p>Bachelor of Computer Science, University of Menuofia, Egypt</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-6 col-md-6 col-lg-3">
      <h4>Projects</h4>
      <ul [type]="">
        <li>Movie Database Application</li>
        <li>E-commerce Platform</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
      <h4>Languages</h4>
      <ul>
        <li>Arabic (Professional)</li>
        <li>English (Native)</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
      <h4>Contacts</h4>
      <ul>
        <li>Email: mhmdalkhlawy206&#64;gmail.com</li>
        <li>Phone: +20 1023637226</li>
        <li>Phone: +20 1225822663</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
      <h4>Sites</h4>
      <ul>
        <li><a href="http://github.com/22Mohamed11">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/mohamed-elkhlawy/">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100012183586615&mibextid=ZbWKwL">Facebook</a></li>
      </ul>
    </div>
  </div>
</div>

