<nav class="navbar navbar-expand-lg" >
  <div class=" nav-padding pb-2 container-fluid position-fixed "  [ngClass]="isScrolled ? 'navbar-scrolled' : 'navbar-default'">
    <a class="navbar-brand">
      <img src="../../assets/images/logo.png" alt="LOGO">
    </a>

    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': !isNavbarCollapsed}" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ">
        <li *ngIf="isLogged" class="nav-item mr-2">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a class="nav-link" routerLink="movies">Movies</a>
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a class="nav-link" routerLink="tv">TV Show</a>
        </li>
        <li *ngIf="isLogged" class="nav-item">
          <a class="nav-link" routerLink="people">Actors</a>
        </li>
        <li>
          <div class="dropdown show nav-item" *ngIf="isLogged">
            <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" routerLink="profile">Profile</a></li> <!--[routerLink]='["/profile",user.id]'-->
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#" id="languagesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Languages
                </a>
                <ul class="dropdown-menu" aria-labelledby="languagesDropdown">
                  <li><a class="dropdown-item" href="#">English</a></li>
                  <li><a class="dropdown-item" href="#">Arabic</a></li>
                </ul>
              </li>
              <li><a *ngIf="isLogged" (click)="isLogout()" class="dropdown-item" routerLink="login">Logout</a></li>
            </ul>
          </div>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <input
          class="search"
          [(ngModel)]="searchText"
          (ngModelChange)="onSearchTextChange($event)"
          name="query"
          class="form-control me-2"
          type="search"
          placeholder="Search..."
          aria-label="Search">
      </form>

      <div class="social-media">
        <i class="fab mx-2 fa-instagram"></i>
        <i class="fab mx-2 fa-spotify"></i>
        <i class="fab mx-2 fa-facebook"></i>
        <i class="fab mx-2 fa-youtube"></i>
        <i class="fab mx-2 fa-soundcloud"></i>
      </div>
      <div>
        <ul class="navbar-nav me-auto ">
          <li *ngIf="!isLogged" class="nav-item">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
          <li *ngIf="!isLogged" class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
