.nav-padding{
  padding-top: 3rem;
}
//  navbar Scroll change bgColor
.navbar-default {
  background-color: #131722;
  transition: background-color 0.3s ease;
}

.navbar-scrolled {
  background-color: #510046;
  transition: background-color 0.3s ease;
}

nav
{
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  background-color: #131722;
  display: block;
  margin-top: 0;
}
.dropdown-item{
  color: #ffffff;
}

.dropdown-item:hover{
  background-color: #510046;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  visibility: hidden;
}

.dropdown-submenu:hover .dropdown-menu {
  visibility: visible;
}

.search
{
  padding: 0.150rem 0.50rem;
  background-color: #ffffff;
}

@media screen and  (max-width: 992px) {

  .nav-padding{
    padding-top: 1rem;
  }

  .navbar-toggler {
    border: 0.5px white solid;
  }

  .navbar {
    padding: 0px 0px;
    flex-direction: column;
  }

  .social-media{
    display: none;
  }
}
