@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;1,300&display=swap');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

$bgColor:#131722;
$lightBgColor:#24baef;
$bgTransparent:rgba(36,186,239,.6);
$fontColor:#fff;
$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat Alternates";
  background-color: $bgColor;
  color: $fontColor;
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1;
}

app-footer {
  background-color: #510046;
  color: white;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  position: relative;
  bottom: 0;
}

.nav-link, a {
  font-size: 18px;
  color: $fontColor;
  text-decoration: none;
}

.nav-link:hover {
  color: $lightBgColor;
}

.social-media i{
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.social-media i:hover{
  color: $lightBgColor;
}

.brdr{
  height: 1px;
  background-color: $borderColor;
}

.second-color{
  color: $secondFontColor;
}


.vote{
  background-color: $lightBgColor;
  padding: 5px;
  font-weight: 700;
  position: absolute;
  top: 0 ;
  right: 10px;
}
