<app-homeheader></app-homeheader>
<div class=" container">
  <div class=" row py-5">
    <div class=" col-sm-8 col-md-6 col-lg-4 d-flex align-items-center">
      <div>
        <div class="brdr w-25 mb-4"></div>
        <h3>Trending movies</h3>
        <h2>to watch Right now</h2>
        <p class="second-color my-2">most wached movies by days</p>
        <div class="brdr w-75 mt-4"></div>
      </div>
    </div>
    <div *ngFor=" let movie of trendingMovies"  class=" col-sm-4 col-md-3 col-lg-2">
      <div class="movie my-2 position-relative">
        <a [routerLink]='["/moviedetails",movie.id]'>
          <img class="w-100" [src]="imgPrefix+movie.poster_path" [alt]='movie.title'>
          <h3 class=" my-2 h6">{{movie.title}}</h3>
          <div class="vote">
            {{movie.vote_average}}
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class=" row py-5">
    <div class=" col-sm-8 col-md-6 col-lg-4 d-flex align-items-center">
      <div>
        <div class="brdr w-25 mb-4"></div>
        <h3>Trending TV</h3>
        <h2>to watch Right now</h2>
        <p class="second-color my-2">most wached Tv by days</p>
        <div class="brdr w-75 mt-4"></div>
      </div>
    </div>
    <div *ngFor=" let tv of trendingTv"  class="col-sm-4 col-md-3 col-lg-2">
      <div class=" movie my-2 position-relative">
        <img class="w-100" [src]="imgPrefix+tv.poster_path" [alt]='tv.name'>
        <h3 class=" my-2 h6">{{tv.name}}</h3>
        <h4 class="my-2 h6">Date: {{tv.first_air_date}}</h4>
        <div class="vote">
          {{tv.vote_average}}
        </div>
      </div>
    </div>
  </div>

  <div class=" row py-5">
    <div class=" col-sm-8 col-md-6 col-lg-4 d-flex align-items-center">
      <div>
        <div class="brdr w-25 mb-4"></div>
        <h3>Trending People</h3>
        <h2>to watch Right now</h2>
        <p class="second-color my-2">most wached people by days</p>
        <div class="brdr w-75 mt-4"></div>
      </div>
    </div>
    <div *ngFor=" let person of trendingPeople"  class="col-sm-4 col-md-3 col-lg-2">
      <div class="movie my-2 position-relative">
        <img class="w-100" [src]="imgPrefix+person.profile_path" [alt]='person.name'>
        <h3 class=" my-2 h6">{{person.name}}</h3>
      </div>
    </div>
  </div>
</div>
